<div class="login">
    <div class="login-form">
        <div class="login-form__header">{{ "PAGES.LOGIN.LOGIN_TITLE" | translate}}</div>
        <div class="login-form__row">
            <div class="login-form__label">
                <label class="login-form__label-title">E-mail:</label>
                <label class="login-form__label-required">*required</label>
            </div>
            <input type="text" class="login-form__input" [(ngModel)]="user.login">
        </div>
        <div class="login-form__row">
            <div class="login-form__label">
                <label class="login-form__label-title">Password:</label>
                <label class="login-form__label-required">*required</label>
            </div>
            <input type="password" class="login-form__input" [(ngModel)]="user.password">
        </div>
        <div class="login-form__action">
            <label class="login-form__forgot-password">Forgot password?</label>
            <button class="login-form__login"
                [ngClass]="!!user.login && !!user.password ?
                    'login-form__login_active' : 'login-form__login_notactive'"
                (click)="logIn()">{{ "PAGES.LOGIN.LOGIN_BUTTON_TITLE" | translate}}</button>
        </div>
    </div>
</div>
