$white-color: #ffffff;
$black-color: #000000;

$pale-grey-color: #f2f3f7;


$header-color: #414452;
$footer-color: #414452;
$dark-sky-blue: #30b6dd;
$pale-grey: #f2f3f7;
$slate-grey: #525462;

$green-btn-color: #9bc837;
$cyan-btn-color: #30b6dd;
