$white-color: #ffffff;
$black-color: #000000;

$pale-grey-color: #f2f3f7;
$dark-grey-color: #2c2f3c;
$battleship-grey-color: #6c7283;
$pale2-grey-color: #d9dbe3;

$header-color: #414452;
$footer-color: #414452;
$dark-sky-blue-color: #30b6dd;
$soft-blue-two-color: #5681ee;
$pale-grey-color: #f2f3f7;
$slate-grey-color: #525462;

$green-btn-color: #9bc837;
$green-dark-btn-color: #8cb632;
$cyan-btn-color: #30b6dd;
$cloudy-blue: #b9bdce;

$soft-blue-color: #577ce6;
$star-color: #f3e921;
