<div class="add-wrap">
    <div class="add" *ngIf="!!course">
        <div class="add-form">
            <div class="add-form__header">Create new Course</div>
            <div class="add-form__row">
                <div class="add-form__label">
                    <label class="add-form__label-title">Title:</label>
                    <label class="add-form__label-required">*required</label>
                </div>
                <input type="text" class="form-input" [(ngModel)]="course.title">
            </div>
            <div class="add-form__row">
                <div class="add-form__label">
                    <label class="add-form__label-title">Description:</label>
                    <label class="add-form__label-required">*required</label>
                </div>
                <input type="text" class="form-input" [(ngModel)]="course.description">
            </div>
            <div class="add-form__row">
                <div class="add-form__short-col">
                    <div class="add-form__label">
                        <label class="add-form__label-title">Date:</label>
                        <label class="add-form__label-required">*required</label>
                    </div>
                    <input type="date" class="form-input" 
                        [ngModel]="course.creationDate | date:'yyyy-MM-dd'"
                        (ngModelChange)="dateChanged($event)">
                    <!-- <app-date [date]="course.creationDate.toISOString().split('T')[0]"></app-date> -->
                </div>
                
            </div>
            <div class="add-form__row">
                <!-- <div class="add-form__short-col"> -->
                    <div class="add-form__label">
                        <label class="add-form__label-title">Duration:</label>
                        <label class="add-form__label-required">*required</label>
                    </div>
                    <!-- <input type="text" class="form-input" [(ngModel)]="course.duration"> -->
                    <app-duration [duration]="course.duration"></app-duration>
                <!-- </div> -->
            </div>
            <div class="add-form__row">
                <div class="add-form__label">
                    <label class="add-form__label-title">Authors:</label>
                    <label class="add-form__label-required">*required</label>
                </div>
                <input type="text" class="form-input" [(ngModel)]="course.authors">
                <!-- will be authors tags box -->
                <!-- <app-tag-box></app-tag-box> -->
            </div>
            <div class="add-form__btns-row">
                <div class="add-form__btn">
                    <app-action-btn [title]="'Cancel'" (clicked)="cancel()">
                        </app-action-btn>
                </div>
                <div class="add-form__btn">
                    <app-action-btn [title]="'Save'" (clicked)="saveCourse()">
                        </app-action-btn>
                </div>
            </div>
        </div>
    </div>
</div>