<div class="courses-wrap">
  <div class="courses" *ngIf="(courses$ | async) as courses">
    <div class="courses-search">
      <label class="courses-search__box">
        <img src="assets/images/ic-search.svg" alt="search">
        <input type="text" class="courses-search__field"
          placeholder="{{searchPlaceholder}}" [(ngModel)]="search" #searchValue>
      </label>
      <div class="courses-search__btn"></div>
    </div>
    <div class="courses-list-wrap">
      <div class="courses-add">
        <button class="courses-add__btn" (click)="addNewCourse()">
          <i class="fa fa-plus"></i>
          {{ "PAGES.COURSES.ADD_COURSE" | translate }}
        </button>
      </div>
      <div class="courses-list">
        <div *ngIf="courses.length != 0; else nocourses">
          <div *ngFor="let item of courses" class="courses-list__item" [appBorderColor]="item?.creationDate">
            <app-courses-item [item]="item" (edited)="editCourse($event)" (deleted)="deleteClicked($event)">
            </app-courses-item>
          </div>
          <div class="courses__action-btn link" (click)="loadCourses()" id="load">
            {{ "PAGES.COURSES.LOAD_MORE" | translate }}
          </div>
        </div>
        <ng-template #nocourses>
          <div class="courses__action-btn">
            {{ "PAGES.COURSES.NO_COURSES" | translate }}
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<app-popup
  #popup
  *ngIf="popupControls.isOpened"
  [header]="confirmnCourseDeleting"
  [buttonAction]="popupAgreeAction"
  [buttonCancel]="popupCancelAction"
  (onAction)="deleteCourse()"
  (onClose)="closePopup()">
</app-popup>


